@charset "utf-8";

body {
    background-color: #eeeeee;
}

img {
    vertical-align: bottom;
    object-fit: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #377a6d;
}

.items {
    display: flex;
}

.item {
    margin-right: 3%;
    background-color: #ffffff;
    padding-bottom: 10px;
}

.item:last-child {
    margin-right: 0;
}

.item img {
    width: 100%;
}

.text {
    margin-left: 10px;
}

h2 {
    color: #377a6d;
    border-left: solid 10px;
    padding: 0 5px;
}

@media screen and (max-width: 767px) {
    .items {
        display: block;
    }

    .item {
        margin-right: 0;
        margin: 0 3% 30px;
    }

    .item:last-child {
        margin-right: 3%;
    }
}