@charset "utf-8";

/* cssリセット */
html,
body,
h1,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

ul {
    list-style: none;
}



/* 問3*/
header {
    max-width: 960px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    padding: 0 30px;
    border-right: solid 1px;
}

nav>ul>li:nth-of-type(5) {
    border-right: none;
}

@media screen and (max-width: 767px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav>ul {
        flex-wrap: wrap;
    }

    nav>ul>li {
        border-right: none;
        border-bottom: solid 1px;
        width: 100%;
        padding: 10px 0;
    }

    h1 {
        width: 100%;
        margin-bottom: 10px;
    }
}